.idea
android/.idea
android/.gradle
android/.project
android/.settings
android/local.properties
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.properties
android/gradle/wrapper/gradle-wrapper.jar
docs/*
.DS_Store
.DS_Store
ios/.DS_Store
ios/src/.DS_Store
ios/src/FaceUnity/.DS_Store
